.header{
    padding: 40px 0;
    border-bottom: 1px solid $secound-color;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        .logo{
            h1{
                margin: 0;
                color: #5a5555;
            }
            p{
                color: $secound-color;
            }
        }
        svg{
            font-size: 25px;
            cursor: pointer;
            color: #5e5656;
            display: none;
            @media #{$mobile-media} {
                display: block;
            }
        }
        .links{
            display: flex;
            background-color: $main-color;
            padding: 20px 10px;
            border-radius: 10px;
            position: relative;
            @media #{$mobile-media} {
                display: none;
            }
            a{
                margin: 20px;
                color: #eee;
                transition: .1s;
                &:hover{
                    color: #ddd;
                }
            }
        }
    }
}